.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.App-logo {
  height: 40px;
}

.App-header {
  flex: 1 1;
  background-color: #00ab6c;
  min-height: 40px;
  padding: 10px;
  color: white;
}

.App-welcome {
  padding: 5px 0;
  color: darkgrey;
}

.App-form {
  flex: 1 1;
  min-height: 60px;
  display: flex;
  width: 100%;
}

.App-form input {
  width: 100%;
  font-size: 1rem;
}

.App-form input:focus {
  outline: none;
}

.App-form button {
  width: 100px;
  height: 100%;
  font-size: 1rem;
  background-color: darkgrey;
}

.MessageCardGroup {
  flex: 2 1 80%;
  overflow-y: auto;
}

.MessageCard-cardLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.MessageCard-cardRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
}

.MessageCard-author {
  color: #0006;
}

.MessageCard-payload {
  color: black;
  background-color: #f1f0f0;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}

.MessageCard-time {
  color: #0006;
  padding-top: 10px;
  text-align: right;
}

.App-Modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
