.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  flex: 1 1;
  background-color: #00ab6c;
  min-height: 40px;
  padding: 10px;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-welcome {
  padding: 5px 0;
  color: darkgrey;
}

.MessageCardGroup {
  flex: 2 1 80%;
  overflow-y: auto;
}

.MessageCard-cardLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.MessageCard-cardRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
}

.MessageCard-author {
  color: #0006;
}

.MessageCard-payload {
  color: black;
  background-color: #f1f0f0;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}

.MessageCard-time {
  color: #0006;
  padding-top: 10px;
  text-align: right;
}
